.THIS .ui-widget {
    margin: 36px 0;
}
.THIS .contentPanel:before,
.THIS .contentPanel:after {
    content: " ";
    display: table;
}
.THIS .contentPanel:after {
    clear: both;
}
.THIS .left {
    float: left;
    width: 50%;
    text-align: center;
}
.THIS .right {
    float: right;
    width: 50%;
}
.THIS .col-third {
  float: left;
  width: 33%;
}