.THIS {
  text-align: center;
}

.THIS > p {
  font-size: 14px;
  color: #CCCCCC;
  margin: 4px 0;
}

.THIS img {
  max-width: 300px;
  width: auto;
  height: auto;
  border-radius: 4px;
  border: 2px solid transparent;
}