.THIS .slds-modal__close {
  font-size: 42px;
}

.THIS .slds-form-element__control .required{
 	width: 1110px; 
    float: none;  
    font-weight: normal;
}

.THIS .required{
 	width: 590px; 
    float: none;  
    font-weight: normal;
}

.THIS .slds-form-element__control{
 	width: 1110px; 
    float: none;  
    font-weight: normal;
}

.THIS .slds-pill{
 	width: 500px; 
	height: auto;
}

.THIS .slds-pill__remove{
    height:2rem;
    width:5rem;
}