.THIS .modal-body {
	padding: 0;
}
.THIS .modal-header {
	font-size: 16px;
    font-weight: bold;
}
.THIS .slds-button_brand, .THIS .slds-button--brand {
	background-color: #2e6fcc;
    border-color: #2e6fcc;
    color: #fff;
    text-shadow: none;
}
.THIS .mainPhoto {
	text-align: center;
	margin: 20px;
}
.THIS .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.THIS .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.THIS .upload-btn-wrapper input[type=file]:hover {
    box-shadow: 0 -2px 0 #CCCCCC inset;
    transform:translateY(4px);
}

.THIS .croppie-container {
    margin-top: -50px;
}

.THIS .round-image {
	border-radius: 50%;
}

.THIS .current-photo-title {
	margin: 10px;
}

.THIS .button-hover{
    background-color: rgba(37, 116, 169, 0.1);
    color: rgb(28, 87, 127);
}