.THIS .banner-picture {
    cursor: pointer;
}
.THIS .photo-edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.6);
    padding: 2px;
    cursor: pointer;
}
.THIS .relative {
    position: relative;
    display: inline-block;
}
.THIS .banner {
    width: 100%;
    max-width: 700px;
    max-height: 300px;
    background: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border: 5px solid #fff;
    position: relative;
}