.THIS {
    padding-top: 20px;
}
.THIS {
    font-family: Lato, sans-serif;
    --sds-c-button-radius-border: unset;
}

.THIS p{
    font-size: 150%;
}

.THIS .link {
    text-decoration: underline; 
    color: black;
}

.THIS .button-left-container {
    margin-left: 30%;
}

.THIS .button-left-container > p {
    font-size: 130%;
}

.THIS .button-right-container {
    margin-right: 30%;
}

.THIS .button-right-container > p {
    font-size: 130%;
}

.THIS .red-button {
    border: 3px #E62230 solid;
    background: #E62230;
    border-radius: 3px;
    padding: 5px 23px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    min-width: 115px;
    color: white;
}

.THIS .cpage-header {
    margin: unset;
}

.THIS .cpage-subheader {
    color: black;
}

.THIS .cpage-circular-images {
    border-radius: 50%;
    border: 2px solid #CDCCCE;
    padding: 10%;
    width: 75%;
    margin-top: 10%;
}

.THIS .columns-to-left {
    text-align: left;
}

.THIS .title-box {
    border: 2px solid #CDCCCE;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0px 2% 1% 2%;
}

.THIS #title  {
    position: relative;
    top: -15px;
    display: inline;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
}

.THIS h1 {
    font-size: 250%;
}

.THIS h2 {
    font-size: 200%;
}

.THIS h4 {
    font-size: 130%;
}