/*toggleCss.css*/
.THIS.toggle {
    display: none;
  }
 .THIS .slds-form-element__label{
     font-size:1rem;
     line-height:1.4375;
     color:#333;
 }
 .THIS .slds-popover__body {
     width: 150px;
 }