.THIS .aac-header{
    padding: initial !important;
    position: relative !important;
    padding-top: 18px !important;  
    background-color:#fff;   
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.THIS .social {
  margin: 20px 10px;
  text-align: center;
  margin-bottom: -41px;
  padding-top: 27px;
}

.THIS .smGlobalBtn { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd;
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

.THIS .facebookBtn{
    background: #4060A5;
}

.THIS .facebookBtn:before{ 
    font-family: "FontAwesome";
    content: "\f09a";
}

.THIS .facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; 
}

.THIS .twitterBtn{
    background: #00ABE3;
}

.THIS .twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; 
      
}

.THIS .twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

.THIS .pinterestBtn{
    background: #cb2027;
}

.THIS .pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; 
}

.THIS .pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}

.THIS .instagramBtn{
    background: #3a5876;
}

.THIS .instagramBtn:before{
      font-family: "FontAwesome";
      content: "\f16d"; 
}

.THIS .instagramBtn:hover{
      color: #3a5876;
      background: #fff;
      border-color: #3a5876;
}

.THIS .youtubeBtn{
    background: #e62230;
}

.THIS .youtubeBtn:before{
      font-family: "FontAwesome";
      content: "\f167"; 
}

.THIS .youtubeBtn:hover{
      color: #e62230;
      background: #fff;
      border-color: #e62230;
}

.THIS .float-holder{
    float:left;
    font-size:14px;
    font-family:Questrial,sans-serif;
    font-weight:700;
    text-align: left;
    margin-top: 10px;
}

.THIS .logo{
    padding-top:0px;
}

.THIS .menu-footer-menu-container{
    font-size:13px;
}

.THIS .btn-drakblue a{
  background-color: #fff;
  color: #191861;
  transition:color 0.25s ease;
  border:3px solid #191861;  
}

.THIS .btn-drakblue:hover a{
  background-color: #191861;
  color: #fff;
}
.THIS .btn-drakred a{
  background-color: #fff;
  color: #e62230;
  transition:color 0.25s ease;
  border:3px solid #e62230;  
}

.THIS .btn-drakred:hover a{
  background-color: #e62230;
  color: #fff;
}
.THIS .btn-lightgreen a{
  background-color: #fff;
  color: #17b7b6;
  transition:color 0.25s ease;
  border:3px solid #17b7b6;  
}

.THIS .btn-lightgreen:hover a{
  background-color: #17b7b6;
  color: #fff;
}

.THIS .slds-button {
    background:#fff;
    border-color:#fff;
    color: #e62230;
}

.THIS .slds-button_neutral{
    background:#fff;
    border-color:#fff;
}

.THIS .account li{
    padding:0 10px;
}
/*** Drop Down Menu **/
@media (max-width: 62em) {
.THIS .navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}  
.THIS .navbar-nav .nav-item {
		float: none;
	}
.THIS .navbar-brand {
		float: right;
	}
.THIS .navbar-brand,
.THIS .navbar-nav .nav-item {
		display: block;
	}
.THIS .navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
.THIS .dropdown-menu {
		position: relative;
		float: none;
	}
}
.THIS .dropdown-menu{
    background-color:#191861;
}  
.THIS .dropdown-menu li a{
    background-color:#191861;
    text-align:left;
}
.THIS .dropdown-menu li:before{
        border-right: 9px solid transparent;
        border-bottom:9px solid #191861;
        border-left:9px solid transparent;
        content:"";
        display:inline-block;
        position:absolute;
        top:-9px;
        left:20px;
    }

.THIS .navbar-toggle {
    color: #e62230;
    top: -20px;
}

.THIS .navbar-toggle .icon-bar {
    background-color: #e62230 !important;
}

.THIS .menu-login-menu-container a {
    color: #e62230 !important;
}

.THIS .dropdown-menu {
    position: absolute !important;
}

.THIS .fright{
    float:right !important;
}

.THIS .fleft{
    float:left !important;
}

.THIS .float-holder {
    float:initial;
}
.THIS .footer-line {
    background-image: linear-gradient(to right, blue , green, orange, red);
    height: 6px;
    max-width: 800px;
    margin: 30px auto;
}

.THIS .copyright {
    left: 0 !important;
}
.THIS .copyright ul {
    margin-top: 15px;
}
.THIS .custom-buttons {
    margin-top: -28px !important;
    padding-top: 20px !important;
}
.THIS .footer-nav {
    padding-top: 25px !important;
    margin-top: 25px !important;
}
.THIS .images-list {
    margin-top: 15px !important;
}
.THIS #footer .images-list li {
    padding-right: 0 !important;
}
@media (max-width: 768px) {

    .THIS .fright{
        float:initial !important;
    }
    .THIS .copyright {
        position: initial;
    }
    
    .THIS .fleft{
        float:initial !important;
    }
    .THIS .menu-login-menu-container a {
        color: #ddd !important;
    }
    .THIS .cDonorCommunityLayout .aac-header {
        background: transparent !important;
    }
    .THIS .navbar .navbar-collapse {
        margin-top: 0px !important;
        background: transparent !important;
    }
    .THIS .aac-header {
        background: transparent !important;
        z-index: 11;
    }
    .THIS .navbar-header {
        background: white !important;
        height: 55px !important;
        z-index: 15;
        position: absolute;
        width: 100%;
    }
    .THIS .dropdown-menu {
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }
    .THIS .dropdown-menu li a {
        background-color: transparent !important;
    }
    .THIS .dropdown-menu li:before {
        display: none !important;
    }
    .THIS .account li {
        width: fit-content;
    }
    .THIS .dropdown-item {
        padding:0;
        margin:5px 0 0 10px;
    }
    .THIS .float-holder {
        padding-top: 90px;
        width: 100%;
    }
    .THIS .dropdown-menu {
        position: relative !important;
    }
    .THIS #footer .images-list li {
        padding-right: 20px !important;
    }
}

@media (max-width: 1046px) {
    .THIS .float-holder {
        width: 100% !important;
    }
}

@media (max-width: 1200px) {
    .THIS .navbar {
        width: 100%;
    }
}
@media (max-width: 1046px) {
.THIS .social {
    margin-bottom: initial;
  }
}