.THIS .personalInfo {
    font-size: 28pt;
    color: #191861;
}

.THIS .checkboxText label .slds-form-element__label{
    font-size: 12pt;
    color: black;
}

.THIS .checkboxSubText {
    font-size: 9pt;
    font-style: italic;
}

.THIS .selectLabel label{
    font-size: 15pt;
    font-weight: 400;
    color: #01ACA8;
}

.THIS input {
    border-radius: 0px !important;
    border-color: darkgray !important;
    min-height: 35px;
    font-size: 11pt;
}

.THIS select {
    border-radius: 0px !important;
    border-color: darkgray !important;
    min-height: 35px;
    font-size: 11pt;
}