.THIS .mymodal{
    max-height: 500px;
    background-color: transparent;
}

.THIS .margin-top{
    margin-top: 10px;
}
.THIS .btn-size {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
}