.THIS .noborder{
    border-bottom: transparent !important;
}

.THIS .squareborder {
    border-radius: 0px !important;
}

.THIS .slds-checkbox {
    display: inline !important;
}

.THIS .unpredictableTitle {
    font-size: 18pt;
    font-weight: 400;
    color: #01ACA8;
}

.THIS .unpredictableSubTitle {
    font-size: 13pt;
}

.THIS .paddingCheckboxGroup {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.THIS .yourGiftp {
    font-size: 28pt;
    color: #191861;
}

.THIS .addClassLink {
    color: #01ACA8;
    font-size: 12pt;
    text-decoration: underline;
}

.THIS .classTitle {
    font-size: 22pt;
    font-weight: 400;
    color: #01aca8;
}

.THIS .classSubTitle {
    font-size: 13pt;
    font-weight: 400;
}

.THIS .import {
    font-weight: bold;
    font-size: larger;
}

.THIS .serviceCostTitle {
    font-size: 14pt;
    font-weight: 500;
    color: #01aca8;
}

.THIS .serviceCostSubTitle {
    font-size: 12pt;
}

.THIS .supportMissionTitle {
    font-size: 14pt;
    font-weight: 500;
    color: #01aca8;
}

.THIS .supportMissionSubTitle {
    font-size: 12pt;
}

.THIS .flexStyle {
    display: flex;
    justify-content: space-between;
}

.THIS .checkboxGroup{
    display: flex;
}

.THIS .checkboxGroup .slds-form-element__label{
    font-size: 14pt;
    color: #191861;
}

.THIS .totalImportText {
    font-weight: bold;
    font-size: 15pt;
}

.THIS .totalImportValue {
    font-size: 21pt;
    font-weight: bold;
    color: #01ACA8;
}

.THIS .dividerTotal {
    border-top: 1px solid black;
}


.THIS input {
    border-radius: 0px !important;
    border-color: darkgray !important;
}

.THIS textarea {
    border-radius: 0px !important;
    border-color: darkgray !important;
}

.THIS .widthText {
    max-width: 83%
}

.THIS .widthImport {
    display: flex;
    float: right;
}

.THIS .widthImport input{
    height: 50px;
    width: 80px;
}
.THIS .helpText {
    position: relative;
    top: -1px;
    left: -1px;
}

.THIS .helpTextSchool {
    position: relative;
    top: -2px;
    left: 3px;
}

@media screen and (max-width: 600px) {
    .THIS .widthText {
        max-width: 68%
    }
    .THIS .widthImport {
        max-width: 30%
    }
}
@media screen and (min-width:600px) and (max-width: 900px) {
    .THIS .widthText {
        max-width: 80%
    }
    .THIS .widthImport {
        max-width: 20%
    }
}