.THIS .wall-header {
    width: 100%;
    min-height: 468px;
    background: #EAEBED;
}
.THIS h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: left;
}
.THIS .faq-header {
    font-size: 30px;
}
.THIS .wall-body {
    margin-bottom: 50px;
    padding: 30px;
}
.THIS .wall-container {
    max-width: 1090px;
    margin: 0 auto;
    padding-right: 390px;
}
.THIS .img-frame {
    background: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
.THIS .img-profile {
    border-radius: 100%;
}
.THIS .img-profile-position {
    margin: -100px 20px 20px 20px;
}
.THIS .wall-teacher {
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 20px;
    text-align: left;
}
.THIS .wall-teacher-name {
    font-size: 26px;
    font-weight: bold;
}
.THIS .classroom-description {
    max-width: 700px;
    height: 250px;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    text-align: left;
}
.THIS .expanded {
    height: initial;
    -webkit-mask-image: initial;
    overflow: initial;
}
.THIS .hide {
    display: none;
}
.THIS .seeAllDescription {
    text-align: center;
    max-width: 700px;
}
.THIS .seeAllDescription a, .THIS .seeAllDescription a:hover, .THIS .seeAllDescription a:visited {
    color:black;
    text-decoration: none;
}
.THIS .badges {
    text-align: center;
    max-width: 700px;
    padding-top: 15px;
}
.THIS .badge {
    text-align: center;
    background-color: #f3ede9;
    vertical-align: top;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    color: #087c7a;
    font-weight: bold;
    font-size: 14px;
    padding: 80px 5px 0;
    display: inline-block;
    margin: 0 18px 18px;
    line-height: 1.1875;
    background-position: center bottom 60px;
    background-repeat: no-repeat;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
}
.THIS .numberStudents {
    font-weight: 900;
    font-size: 48px;
    color: #191861;
    letter-spacing: 0;
    display: block;
}
.THIS .student-count {
    padding-top: 20px;
}
.THIS .question {
    font-weight: bold;
}
.THIS .faq {
    max-width: 700px;
    text-align: left;
}
.THIS .donations {
    padding-right: 10px;
    font-size: 16px;
    line-height: normal;
    max-height: Calc(100vh - 410px);
    overflow:auto;
    display: none;
}
.THIS .donation {
    overflow: hidden;
    height: 70px;
    border-top: 1px solid #807b7b;
    padding: 15px 5px 15px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #807b7b;
    text-align: left;
}
.THIS .donation:first-child {
    border: none;
}
.THIS .amount {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}
.THIS .donation-date {
    color: black;
    margin-right: 5px;
    font-style: italic;
}
.THIS .donationName {
    color: black;
}
.THIS .expanded {
    overflow: initial;
    height: initial;
    white-space: initial;
}

.THIS span.comment::before {
    content: "+";
    float: right;
    font-size: 26px;
    font-weight: bold;
    top: -7px;
    position: relative;
}
.THIS .expanded span.comment::before {
    content: none;
    float: right;
}
.THIS .shortComment::before {
    content: none !important;
}
.THIS .more {
    text-align: center;
    width: 100%;
    margin-bottom: 6px;
}
.THIS .seeMore {
    border: 1px solid gray;
    padding: 5px 10px;
    color: black;
    margin: 5px;
}
.THIS .donation-container {
    border-radius: .25rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    border: 1px solid #dddbda;
    padding: 30px;
    max-height: 580px;
    overflow: auto;
}
.THIS .banner {
    width:100%;
    max-width: 700px;
    max-height: 300px;
    background: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border: 5px solid #FFF;
}
@media (max-width: 1120px) {
    .THIS .wall-container {
        max-width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .THIS .wall-header {
        margin-bottom: 250px;
        height: 550px;
    }
    .THIS .badges {
        max-width: initial;
        padding-top: 0;
    }
    .THIS .classroom-description {
        max-width: initial;
    }
    .THIS .seeAllDescription {
        max-width: initial;
    }
    .THIS .faq {
        max-width: initial;
        font-size: 14px;
    }
    .THIS .donations {
        display: initial;
    }
    .THIS .badge {
        text-align: center;
        background-color: #f3ede9;
        vertical-align: top;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: #087c7a;
        font-weight: bold;
        font-size: 10px;
        padding: 50px 5px 0;
        display: inline-block;
        margin: 0 5px 5px;
        line-height: 1.1875;
        background-position: center bottom 35px;
        background-repeat: no-repeat;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
        background-size: 50%;
    }
    .THIS .numberStudents {
        font-size: 33px;
    }
    .THIS .student-count {
        padding: 15px 5px 0;
    }
    .THIS h1 {
        font-size: 30px;
        line-height: 48px;
        font-weight: bold;
        text-align: center;
    }
    .THIS .faq-header {
        font-size: 23px;
    }
    .THIS .badges ul {
        margin: 0 -30px 10px -30px;
    }
}