.THIS {}
.THIS .required {
    border-left: 2px solid red;
    padding-left: 1px;
}
.THIS .multipicklist {
    height: 150px;
}
.THIS .form-div select {
    width: 100%;
    color: #000000;
}
.THIS .form-div .uiInput--input {
    padding: 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    border: 0 solid transparent;
    width: 100%;
    -webkit-appearance: none;
    font-size: 14px;
}
.THIS .slds-form-element__control {
    margin: 5px 0;
}
.THIS .form-div a {
    text-decoration: underline;
}
.THIS .form-div .float-right {
    float: right;
    width: 92%;
}
.THIS .form-div {
    text-align: left;
    min-width: 280px;
    max-width: 390px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    position: relative;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}