.THIS {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;
}

.THIS .parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.THIS .ohidden{
    overflow: hidden;
}

.THIS .backgroundWhite {
    background-color: white;
    max-width: 650px;
}

.THIS .navitem {
    text-align: center;
    height: 65px;
    border-radius: 0px;
    display: grid;
}

.THIS .navitem:hover {
    cursor: pointer;
}

.THIS .buttondiv {
    padding-top: 2em;
}

.THIS .buttondiv button {
    width: 100%;
}

.THIS .nonSelectedStep {
    background-color: #01ACA8;
}

.THIS .selectedStep {
    background-color: #191861;
}

.THIS .innerStepText {
    color: white;
    font-weight: bold;
    font-size: 11pt;
}

.THIS .endButton {
    background-color: rgb(228, 38, 55);
    font-size: 20pt;
    display: flex;
    justify-content: center;
    color: white;
    min-height: 65px;
    border-radius: 0px;
}

.THIS .spinnerContainer{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .spins::after {
    position: absolute;
    content: 'We\'re processing your donation. Please allow up to 30 seconds for payment to complete.';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

@media screen and (max-width: 479px){
    .THIS .boxpadding {
        padding-left : 5px;
        padding-right : 5px;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .THIS .boxpadding {
        padding-left : 50px;
        padding-right : 50px;
    }
}

@media screen and (min-width: 1025px){
    .THIS .boxpadding {
        padding-left : 60px;
    }
}