.THIS .profile-picture{
    border-radius: 100%;
    cursor: pointer;
}
.THIS .photo-edit {
    position: relative;
    top: 50px;
    right: 30px;
    background: rgba(255, 255, 255, 0.6);
    padding: 2px;
    cursor: pointer;
}
.THIS .customReq {
    font-size: 26px;
    position: absolute;
    top: 87px;
}