.THIS {
    width: 360px;
    overflow: inherit;
    position: fixed;
    right: 160px;
    top: 88px;
    border: 1px solid #dddbda;
    border-radius: .25rem;
    padding: .25rem 0;
    font-size: .75rem;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    z-index: 1;
    padding: 20px;
    max-height: calc(100vh - 110px);
}
.THIS .btn {
    width: 100%;
    text-transform: capitalize;
    border:none;
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}
.THIS .btn:focus {
    color:white;
}
.THIS .share {
    background: #E58E1D;
}
.THIS .share:hover{
    background: #e58e1d;
    color: white;
}
.THIS .share:before {
    background: #e5721d;
}
.THIS .donate {
    background: #EB4042;
}
.THIS .donate:hover {
    background: #EB4042;
    color: white;
}
.THIS .donate:before {
    background: #de292c;
}
.THIS .calcs {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin: 10px 0;
}
.THIS .raised, .THIS .donors {
    width: 50%;
}
.THIS .donors {
    text-align: right;
}
.THIS .progressBar {
    width: 100%;
    background: #D6D8D7;
    border-radius: 15px;
    height: 10px;
}
.THIS .progressBar-cover {
    height: 10px;
    background: #F33E41;
    border-radius: 15px;
}
.THIS .goal {
    width:100%;
}
.THIS .donations {
    font-size: 16px;
    line-height: normal;
    max-height: Calc(100vh - 410px);
    overflow:auto;
    display:block;
    padding-right: 10px;
}
.THIS .donation {
    overflow: hidden;
    height: 70px;
    border-top: 1px solid #807b7b;
    padding: 15px 5px 15px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #807b7b;
}
.THIS span.comment::before {
    content: "+";
    float: right;
    font-size: 26px;
    font-weight: bold;
    top: -7px;
    position: relative;
}
.THIS .expanded span.comment::before {
    content: none;
}
.THIS .shortComment::before {
    content: none !important;
}
.THIS .amount {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}
.THIS .donation-date {
    color: black;
    margin-right: 5px;
    font-style: italic;
}
.THIS .donationName {
    color: black;
}
.THIS .expanded {
    overflow: initial;
    height: initial;
    white-space: initial;
}
.THIS .more {
    text-align: center;
    width: 100%;
    margin-bottom: 6px;
}
.THIS .seeMore {
    border: 1px solid gray;
    padding: 5px 10px;
    color: black;
    margin: 5px;
}
.THIS .notify-dialog {
    position: absolute;
    left: -189px;
    display: none;
    top: 25px;
}
.THIS .donate:hover + .notify-dialog {
    display: block;
}

.THIS .slds-popover__body p {
    margin: 0;
    line-height: 1;
    font-size: 14px;
}

.THIS .inactive {
    background: #d0cece;
    pointer-events: none;
}

@media (max-width: 780px) {
    .THIS .notify-dialog {
        position: absolute;
        left: 78px;
        top: 141px;
    }
    .THIS .slds-nubbin_right-bottom:after, .THIS .slds-nubbin_right-bottom:before {
        top: 0!important;
        left: 88px;
        position: absolute;
        transform: rotate( 314deg );
    }
}

@media (min-width: 1120px) {
    .THIS {
        right: 20px;
    }
}
@media (min-width: 1137px) {
    .THIS {
        right: 30px;
    }
}
@media (min-width: 1154px) {
    .THIS {
        right: 40px;
    }
}
@media (min-width: 1171px) {
    .THIS {
        right: 50px;
    }
}
@media (min-width: 1189px) {
    .THIS {
        right: 60px;
    }
}
@media (min-width: 1206px) {
    .THIS {
        right: 70px;
    }
}@media (min-width: 1222px) {
    .THIS {
        right: 80px;
    }
}
@media (min-width: 1241px) {
    .THIS {
        right: 90px;
    }
}
@media (min-width: 1258px) {
    .THIS {
        right: 100px;
    }
}
@media (min-width: 1275px) {
    .THIS {
        right: 110px;
    }
}
@media (min-width: 1292px) {
    .THIS {
        right: 120px;
    }
}
@media (min-width: 1309px) {
    .THIS {
        right: 130px;
    }
}
@media (min-width: 1327px) {
    .THIS {
        right: 140px;
    }
}
@media (min-width: 1344px) {
    .THIS {
        right: 150px;
    }
}
@media (min-width: 1362px) {
    .THIS {
        right: 160px;
    }
}
@media (max-width: 1120px) {
    .THIS {
        position: relative;
        max-height: initial;
        margin: auto;
        top: 5px !important;
        right:initial;
    }
    .THIS .donations {
        display: none;
    }
}