.THIS .wpage-header {
    background-color: #1D2873;
    color: white;
    margin: 0 -1500px;
}

.THIS .wpage-header > h1 {
	margin: unset;     
}

.THIS .wpage-header > h2 {
    color: white;
	font-weight: 400;     
}

.THIS .wpage-header > h4 {
	font-weight: 400;     
}

.THIS .wpage-subheader > h2 {
    color: black;
}

.THIS p{
    font-size: 150%;
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('/teachers/resource/Teacher_Community/Assets/Font/Architects_Daughter/ArchitectsDaughter-Regular.ttf') format('TrueType');
}

.THIS .wpage-column > h1 {
    margin: unset;
    color: #E22437;
    font-family: 'Architects Daughter';
    font-size: 270%;
}


.THIS .slds-var-m-left_xx-large {
    margin-left: 18%;
}

.THIS .slds-var-m-right_xx-large {
    margin-right: 18%;
}

.THIS {
    font-family: Lato, sans-serif;
}

.THIS h1 {
    font-size: 250%;
}

.THIS h2 {
    font-size: 200%;
}

.THIS h4 {
    font-size: 130%;
}

@media (max-width: 900px) {
    .THIS .wpage-header {
        margin: 0 -25px;
    }
}