.THIS {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #D63A3C;
    margin-top: -26px;
}
.THIS a {
    text-decoration: none;
}
.THIS ul {
    background: #D63A3C;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.THIS li {
    color: #fff;
    background: #d63a3c;
    display: block;
    float: left;
    padding: 5px 20px;
    position: relative;
    text-decoration: none;
    transition-duration: .5s;
    font-size: 16px;
}   
.THIS li a {
    color: #fff;
}
.THIS ul li ul {
    background: #D63A3C;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
.THIS ul li:hover > ul,
.THIS ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.THIS ul li ul li {
    clear: both;
    width: 100%;
}
.THIS .navigation {
    max-width: 1092px;
    margin: 0 auto;
    display: flex;
}
.THIS .fRight {
    float: right;
}
.THIS .homeIcon {
    margin-top: 6px;
    margin-right: 20px;
}
.THIS .homeIcon a img {
    max-width: 18px;
}
.THIS .helpLink {
    margin-left: auto;
    color: #fff;
    position: relative;
    text-decoration: none;
    transition-duration: .5s;
    font-size: 16px;
    padding: 5px 0;
}
.THIS .helpLink a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}