.THIS {
    margin-top: -48px;
    margin-bottom: -36px;
}
.THIS .navBar {
    background-color: #F8F9F5;
    margin: 0 -1500px;
    padding: 50px 1500px;
}
.THIS .prevBtn {
    border: 3px #C2C2C0 solid;
    background: transparent;
    border-radius: 3px;
    padding: 5px 23px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    min-width: 115px;
}
.THIS .nextBtn {
    border: 3px #E62230 solid;
    background: #E62230;
    border-radius: 3px;
    padding: 5px 23px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    min-width: 115px;
}
.THIS .next, .THIS .prev, .THIS .progress {
    text-align: center;
}
.THIS .progress {
    width: 450px;
    margin: 0 auto;
}
.THIS .progress li {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: transparent;
    display: inline-block;
    color: white;
    position: relative;
    border: 3px #C2C2C0 solid;
    color: black;
    margin-right: 50px;
    margin-left: 50px;
}
.THIS .progress  li:first-child {
    margin-left: 0;
}
.THIS .progress  li:last-child {
    margin-right: 0;
}
.THIS .progress  li::before{
    content: '';
    position: absolute;
    top: 12px;
    left: -103px;
    width: 100px;
    height: 2px;
    background: #C1C1C1;
    z-index: 1;
}
.THIS .progress  li:first-child::before {
    display: none;
}
.THIS .progress  .active {
    background: #01ADA8;
    border: 3px #01ADA8 solid;
    color: #01ADA8;
}
.THIS .progress  .active ~ li {
    background: transparent;
}
.THIS .active > li::before {
    background: #C1C1C1;
}
.THIS .progressLabel {
    position: absolute;
    top: 30px;
    white-space: nowrap;
    left:-17px;
}
.THIS .labelFix {
    left:-35px;
}
.THIS button:disabled, .THIS button[disabled] {
    background-color: #c0c0c0 !important;
    border-color: #c0c0c0 !important;
    cursor: not-allowed !important;
}

@media (max-width: 1024px) {
    .THIS .prev {
        margin-bottom: 17px;
    }
    .THIS .next {
        margin-top: 35px;
    }
}