.THIS .uiInputCheckbox input,
.THIS .left  {
    float: left;
}
.THIS .inValid {
  border: 1px solid red;
}
.THIS .slds-Continue{
    float: right;
}
.THIS .slds-Back{
    float: left;
}
.THIS .sdls-msg{
    text-align: center;
    color:#191861;
    font-family:'Lato', sans-serif;
    font-weight:bold;
}
.THIS .slds-Continue{
    margin-left: 1.5rem;
}
.THIS .inline {
    display: inline-block;
}
.THIS .not-enabled {
    background: #dddddd;
    border-color: gray;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none !important;
}
.THIS .textarea {
    border-radius: 0 !important;
    background: #FFF !important;
    border: 1px solid #979797 !important;
    color: #333 !important;
}