.THIS .checkout-btn{
    background-color:#ffffff;
    border-color:#191861;
    color:#191861;
}
.THIS .sdls-msg{
    text-align: center;
    color:#191861;
    font-family:'Lato', sans-serif;
    font-weight:bold;
}
.THIS .helpAmount{
font-size: 1.25rem;
float:right;
width:105px;
margin-left:20px;
}
.THIS .inline {
    display: inline-block;
}
.THIS .subTotal-fee {
	border-top:none;
  	padding-top:20px;
    padding-bottom:20px;
}
.THIS .teacherDetails.clearfix.cCartItemDetail{
    margin-bottom:1.5rem;
}
.THIS .teacherName{
    font-size:1.25rem;
    font-family:'Lato', sans-serif;
}
.THIS .selectFrequency {
    float: right;
    width: 25%;
    margin-bottom: 5px;
}
.THIS .blankAside {
    background-color: white;
    color: white;
}
.THIS .bottomForm {
    width: 30%;
    float: right;
}

.THIS .bottomInnerForm {
    margin-bottom: 10px;
}
.THIS .inputDate {
    margin-bottom: 10px;
    margin-top: 10px;
}
.THIS .endDateWrapper {
    position: relative;
}
.THIS .toolTip {
    position: absolute;
    right: 10px;
    top: 0;
}