.THIS .wpage-header {
  background-color: #1d2873;
  color: white;
}

.THIS .wpage-header > h1 {
  margin: unset;
}

.THIS .wpage-header > h2 {
  color: white;
  font-weight: 400;
}

.THIS .wpage-header > h4 {
  font-weight: 400;
}

.THIS .wpage-subheader > h2 {
  color: black;
}

.THIS p {
  font-size: medium;
}

.THIS .wpage-column > h2 {
  color: #e22437;
}

.THIS .nextBtn {
  border: 3px #e62230 solid;
  background: #e62230;
  border-radius: 3px;
  padding: 5px 23px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  min-width: 115px;
  width: 50%;
}

.THIS .slds-button_stretch {
  width: 100% !important;
}

.THIS .input_element .slds-input, .THIS .input_element .slds-select {
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #010101;
  font-size: medium;
  padding: 2% 0 2% 3%;
  margin: auto;
  height: 50px;
}
.THIS .input_element .slds-input::placeholder {
  color: #b1b1b1;
}

.THIS .button_section {
  padding-top: 5%;
  text-align: center;
}
.THIS h1.tittle {
  font-weight: 700;
  text-shadow: 0.2px 0 #010101;
}

.THIS .input_element .slds-select_container::before { border-bottom: none;}
.THIS .input_element .slds-select_container::after { border-top: none;}

.THIS .input_element .slds-select_container .slds-select { -webkit-appearance : menuList}
.THIS .input_element .slds-input::after, .THIS .input_element .slds-select::after { 
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #b1b1b1;
    font-size: medium;
    padding: 2% 0 2% 3%;
    margin: auto;
    height: 50px;
}

.THIS .input_element .slds-select .invalid-option { 
    color: #b1b1b1 !important;
}

.THIS .results {
    padding: 2% 5%;
}

.THIS .details{
    height: 330px;
    background-color: #F1F1F1;
    display:block;
}
.THIS .gscroll {
  overflow-y: scroll;
  height: 330px;
}

.THIS  .notFound {
    margin-bottom: 0;
    text-align: center;
    margin: auto;
}

.THIS .spinner {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS .selectedButton {
    border: 3px #e62230 solid;
    background: #e62230;
    border-radius: 3px;
    padding: 1px 0;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    width: 60%;
}

.THIS .see-more-div{
    display: block;
    bottom:0;
    background-color: #F1F1F1;
}

.THIS .rows {
    padding: 7% 0 0 0;
    text-align:center;
}
.THIS .rows_data {
    padding: 7% 0 0 5%;
    text-align:left;
}

.THIS .unselectedButton {
    border: 3px #03ADAA solid;
    background: transparent;
    border-radius: 3px;
    padding: 1px 0;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    width: 60%;
    color: #414141;
}

.THIS p.see_more {
    cursor:pointer;
}
.THIS .margin-firstSearch {
  margin: 20px 0;
}
.THIS .mtop50 {
  margin-top: 50px;
}