.THIS .aacbutton {
    background-color: rgb(0, 176, 171);
    font-size: smaller;
    color: white;
    width: 120px;
    height: 32px;
    font-weight: 600;
    margin-top: 25px;
}

.THIS .modal-title {
    font-size: larger;
    position: relative;
    top: -12px;
}
.THIS .subTitle {
    font-size: 12px;
    top: -16px;
    position: relative;
}
.THIS .max-height {
    height: 56px;
}
.THIS .text-center {
    text-align: center;
}

.THIS .modal-text {
    font-size: medium;
    font-weight: 400;
    line-height: initial;
}

.THIS .modal-link {
    font-size: small;
    font-weight: 400;
    line-height: initial;
}

.THIS .slds-form-element__label{
    font-size: 1.25rem;
}

.THIS .float-right {
    float: right;
}

.THIS .hand-over:hover{
    cursor: pointer;
}

.THIS .slds-modal__header {
    display: none;
}
.THIS .right {
    text-align: right;
}
.THIS .space {
    margin: 0 -15px -15px -15px;
    padding: 15px;
}
.THIS .h50 {
    height:50px
}
.THIS .input-data {
    font-size: 12px;
}
.THIS .slds-form-element__label {
    font-size: 1.25rem !important;
}
.THIS .spinner {
    background: none !important;
}
.THIS .disableBtn {
    background-color: lightgray !important;
    cursor: no-drop !important;
}
.THIS .closeBtn {
    z-index: 9999999;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}