.THIS .btnCreateSchool {
    text-align: center;
    padding: 30px;
}
.THIS .field-content {
    padding-bottom: 20px;
}
.THIS lightning-picklist[data-field="country"] label::before {
    content: "* ";
    color: var(--lwc-colorTextError,rgb(234, 0, 30));
}