.THIS {
    font-family: Lato, sans-serif;
    --sds-c-button-radius-border: unset;
}

.THIS .red-button > div > a {
    border: 3px #E62230 solid;
    background: #E62230;
    border-radius: 3px;
    padding: 5px 23px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    min-width: 115px;
    color: white;
    width: 100%;
    justify-content: center;
}

.THIS .progressBar {
    width: 100%;
    background: #D6D8D7;
    border-radius: 15px;
    height: 10px;
}
.THIS .progressBar-cover {
    height: 10px;
    background: #F33E41;
    border-radius: 15px;
}

.THIS h1 {
    margin: unset;
}

.THIS h2 {
    color: black;
}

.THIS .red-header {
    color: #EE3F42;
}

.THIS .color-box {
    background-color: #F6F9F4;
}

.THIS .border-box {
    border: 2px solid #CDCCCE;
    padding: 3% 3% 3% 3%;
}

.THIS .border-box > p {
    font-size: 170%;
}

.THIS .progress-text > p {
    font-size: 170%;
}

.THIS .link {
    color: #0EADAA;
    text-decoration: underline; 
}

.THIS .custom-textarea {
    border: 2px solid #ccc;
    height: 316px;
    resize: none;
    overflow-y: scroll;
    padding: 5%;
    font-size: initial;
}

.THIS .p-small {
    font-size: xx-small;
}

.THIS .img-links {
    width: 13%;
}

.THIS .img-header {
    width: 65%;
}

.THIS .vertical-align > a {
    vertical-align: middle;
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('/teachers/resource/Teacher_Community/Assets/Font/Architects_Daughter/ArchitectsDaughter-Regular.ttf') format('TrueType');
}

.THIS .different-font {
    font-family: 'Architects Daughter';
}

.THIS .slds-modal_small .slds-modal__container{
    width: 50px !important;
}