.THIS .aacbutton {
    background-color: rgb(0, 176, 171);
    font-size: smaller;
    color: white;
    width: 100%;
    height: 5vh;
    font-weight: 600;
    padding: 20px;
    max-width: 100px;
}
.THIS .modal-title {
    font-size: larger;
}
.THIS .text-center {
    text-align: center;
}
.THIS .modal-text {
    font-size: medium;
    font-weight: 400;
    line-height: initial;
}
.THIS .modal-link {
    font-size: small;
    font-weight: 400;
    line-height: initial;
}
.THIS .slds-form-element__label{
    font-size: 13px;
    margin-bottom: -10px;
}
.THIS .float-right {
    float: right;
    padding: 2px 4px;
}
.THIS .hand-over:hover{
    cursor: pointer;
}
.THIS .slds-modal__header {
    display: none;
}
.THIS .aligneRight {
    text-align: right;
}
.THIS .modal-body {
    padding: 0;
}
.THIS .containerModal {
    padding: 15px;
}
.THIS .footerModal {
    padding: 15px;
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4);
}
.THIS .slds-input {
    min-height: 36px;
}
.THIS .slds-form-element__label .slds-no-flex {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.THIS .aacbutton[disabled] {
    background: #c0c0c0;
    cursor: not-allowed;
}
.THIS .question span.slds-form-element__label{
    font-size: 13px !important;
}
.THIS .subText {
    font-size: 12px;
    line-height: 100%;
    font-style:italic;
}
.THIS .mTop10 {
    margin-top: 10px;
}