.THIS .slds-button_neutral{
    border-color: #111040;
    background-color: #111040; 
}

.THIS .slds-button--neutral{
    border-color: #111040;
    background-color: #111040; 
}

.THIS .slds-button{
    color:#ffffff
}