.THIS .aacbutton {
    background-color: rgb(0, 176, 171);
    font-size: smaller;
    color: white;
    width: 100%;
    height: 5vh;
    font-weight: 600;
}

.THIS .modal-title {
    font-size: larger;
}

.THIS .text-center {
    text-align: center;
}

.THIS .modal-text {
    font-size: medium;
    font-weight: 400;
    line-height: initial;
}

.THIS .modal-link {
    font-size: small;
    font-weight: 400;
    line-height: initial;
}

.THIS .slds-form-element__label{
    font-size: 1.25rem;
}

.THIS .float-right {
    float: right;
}

.THIS .hand-over:hover{
    cursor: pointer;
}

.THIS .slds-modal__header {
    display: none;
}