.THIS {
    margin-top: 30px;
    font-size: 14px;
}
.THIS .dummyButtonCallToAction {
    text-align: left!important;
    color: rgb(112, 110, 107) !important;
}
.THIS .slds-button {
    color: initial !important;
    background: rgb(255, 255, 255)!important;
    border-color: rgb(212, 212, 212)!important;
    padding: 10px!important;
    font-size: 14px!important;
}
.THIS label {
    margin-bottom: 0 !important;
}
.THIS .label {
    color: rgb(112, 110, 107)!important;
}
.THIS span.cuf-entityLinkId.forceChatterEntityLink.entityLinkHover ~ span.uiOutputText {
    display: none !important;
}
.THIS .cuf-refresh {
    top:5px !important;
}
.THIS .forceChatterStyle .forceChatterEntityPhoto.standardSize {
    width: 100%;
    height: 100%;
}
.THIS .uiTabBar {
    display:none;
}
.THIS a.cuf-entityLink.cuf-entityLink {
    font-size: 24px !important;
    color: black !important;
    text-decoration: none !important;
    pointer-events: none !important;
    cursor: initial !important;
}
.THIS .forceChatterFeedItemHeader .forceChatterEntityLink {
    cursor: initial;
}
.THIS .forceChatterFeedItem .entityLinkHover {
    border-bottom: none;
}
.THIS .forceChatterFeedItem .entityLinkHover:hover {
    border-bottom: none;
}
.THIS .tabs__content {
    border-top: 1px solid #dddbda !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    border: 1px solid #dddbda;
    border-radius: .25rem;
}
.THIS .forcePublisherQuickActionCollapser .dummyButtonCallToAction {
    text-align: left!important;
    color: var(--lwc-colorTextPlaceholder,rgb(112, 110, 107))!important;
    margin-right: var(--lwc-varSpacingHorizontalXSmall,0.5rem)!important;
}
.THIS .aacbutton {
    background-color: rgb(0, 176, 171) !important;
    color: white !important;
    width: 120px !important;
    height: 32px !important;
    font-weight: 600 !important;
    margin-top: 25px !important;
    font-size: 14px;
}
.THIS .modal-title {
    font-size: larger;
}

.THIS .text-center {
    text-align: center;
}
.THIS .pageContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.THIS .modal-text {
    font-size: medium;
    font-weight: 400;
    line-height: initial;
}

.THIS .modal-link {
    font-size: small;
    font-weight: 400;
    line-height: initial;
}

.THIS .slds-form-element__label{
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}
.THIS .float-right {
    float: right;
}

.THIS .hand-over:hover{
    cursor: pointer;
}

.THIS .slds-modal__header {
    display: none;
}
.THIS .right {
    text-align: right;
}
.THIS .space {
    margin: 0 -15px -15px -15px;
    padding: 15px;
}
.THIS .h50 {
    height:50px
}
.THIS .input-data {
    font-size: 12px;
}
.THIS .slds-form-element__label {
    font-size: 1.25rem !important;
}
.THIS .spinner {
    background: none !important;
}
.THIS .activity-record {
    border: 1px solid #dddbda;
    border-radius: .25rem;
    padding: 20px;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    margin: 20px 0;
}
.THIS .comment {
    font-size: 16px;
}
.THIS a.slds-text-color--weak.cuf-timestamp.drillIn.drillInTarget {
    font-size: 14px;
}
.THIS p {
    margin: 0;
}
.THIS .forceChatterStyle .entityLinkHover .uiOutputText {
    border: none !important;
}
.THIS .cuf-entityLink {
    pointer-events: none !important;
}
.THIS .feedBodyInner {
    font-size: 18px;
    padding-left: 70px;
}
.THIS lightning-primitive-file-droppable-zone.slds-file-selector__dropzone {
    width: 100% !important;
}
.THIS .slds-file-selector {
    width: 100% !important;
}
.THIS slot {
    width: 100% !important;
}
.THIS .slds-file-selector__text {
    margin: auto;
}
.THIS .fix-slds-avatar__initials {
    background-color: #f3f2f2 !important;
    color: #3e3e3c !important;
    text-shadow: none !important;
    font-size: 14px !important;
    width: 30px !important;
    height: 30px !important;
    border-bottom: none !important;
}
.THIS .fix-slds-avatar {
    width: 300px !important;
    height: 60px !important;
}
.THIS .fix-slds-chat-message__text {
    font-size: 13px !important;
    max-width: 100%;
    width: 100%;
}
.THIS .fix-slds-chat-message__meta {
    font-size: 11px;
    margin: 0;
    padding: 0;
    line-height: 13px;
}
.THIS .fix-slds-chat-avatar {
    margin-right: 10px;
}
.THIS .guest-comment {
    background-color: transparent !important;
}
.THIS .profile-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 13px;
    margin-top: 5px;
}
.THIS .comment-space {
    margin-bottom: 30px;
}
.THIS .forcePageBlockSectionRow:nth-child(1), .THIS .forcePageBlockSectionRow:nth-child(2), .THIS .forcePageBlockSectionRow:nth-child(4) {
    display: none;
}
.THIS .fix-slds-chat-message__body {
    width: 100%;
}
.THIS .fix-slds-chat-message {
    width: 100%;
}
.THIS .comment-bts {
    width: 100%;
    text-align: right;
}
.THIS .donate {
    background: #EB4042;
    padding: 5px 40px;
}
.THIS .donate:hover {
    background: #EB4042;
    color: white;
}
.THIS .donate:before {
    background: #de292c;
}
.THIS .slds-select {
    font-size: 16px !important;
    line-height: 16px !important;
    height: 38px !important;
}
.THIS .slds-select_container::before {
    top: 12px !important;
}
.THIS .slds-select_container::after {
    bottom: 12px !important;
}
.THIS .slds-checkbox_on {
    display: none !important;
}
.THIS .slds-checkbox_off {
    display: none !important;
}
.THIS .toggleCheckbox {
    padding: 14px 5px !important;
}
.THIS .slds-checkbox_faux {
    height: 17px !important;
    min-width: 17px !important;
}
.THIS abbr[data-original-title], .THIS abbr[title] {
    border: none !important;
}
.THIS .title-announcements {
    display: flex;
	justify-content: space-between;
}
.THIS .mtop {
    margin-top: 27px !important;
}
.THIS .ptop {
    padding-top: 30px;
}
.THIS .inner-subtitle {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    color: #696969;
}
.THIS .greenOk {
    color: green;
    margin-right: 5px;
}