.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}

.THIS .parent-title-block {
	padding:30px 0 15px 0;
}
.THIS .parent-title {
	display: inline-block;
}
.THIS .parent-required {
	display:inline-block;
	float:right;
	font-size: 13px;
}
.THIS .required-span {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.THIS th {
	text-align: right;
    padding-right: 20px;
    font-size: 13px;
}

.THIS td {
	padding: 1px 0 1px 2px;
}

.THIS .required {
	border-left: 2px solid red;
    padding-left: 1px;
}

.THIS div.spinner-container {
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.32);
}

.THIS .spinner {
	background:none;
}