.THIS {
    display: flex;
    flex-wrap:wrap;
}
.THIS .moreFiles {
    text-align: center;
    vertical-align: text-bottom;
    line-height: 200px;
}
.THIS .thumbnail {
    cursor: pointer;
    width: 200px;
    height: 200px;
    background: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    -webkit-filter: grayscale(20%);
    -moz-filter: grayscale(20%);
    filter: grayscale(20%);
    transition: all 0.3s ease;
    overflow: hidden;
    transform: scale(1);
}
.THIS .thumbnail video {
    min-width: 200px;
    height: 200px;
    padding: 0;
    margin: -4px;
    border-radius: 3px;
    position: relative;
    z-index: -1;
}
.THIS .thumbnail .video-play {
    position: absolute;
    left: 90px;
    top: 80px;
}
.THIS .thumbnail:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  
    transform: scale(1.01);
    transition: all 0.5s ease;
}
.THIS a.seeMore:hover {
    text-decoration: none !important;
}

.THIS a:focus, .THIS a:hover {
    text-decoration: none !important;
}

.THIS .deletePhotoBtn {
    right: 5px;
    font-size: 14px!important;
    position: absolute;
    bottom: 5px;
    padding: 5px;
    z-index: 10000;
}
.THIS .slds-icon-action-delete {
    background-color: #eb4042 !important;
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    filter: grayscale(80%);
    transition: all 0.4s ease;
}
.THIS .slds-icon-action-delete:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.4s ease;
}
@media (max-width: 1362px) {
    .THIS .thumbnail {
        width: 160px;
        height: 160px;
    }
}
.THIS .show {
    display: block;
}
.THIS .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
}
.THIS .fx-gal-image-big {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(5, 10, 15, 0.8);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    transition: all 0.3s ease;
}
.THIS .fx-gal-image-big img {
    max-width: 90vw;
    max-height: 90vh;
    position: absolute;
    box-shadow: 0px 0px 800px 40px rgba(0, 0, 0, 0.9);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.THIS .fx-gal-image-big video {
    max-width: 90vw;
    max-height: 90vh;
    position: absolute;
    box-shadow: 0px 0px 800px 40px rgba(0, 0, 0, 0.9);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.THIS .div-tile {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

.THIS .close-modal .slds-icon {
    fill: white;
}