.THIS {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;
}

.THIS .parallax {
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: -325px 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50%;
}

.THIS .ohidden{
    width: 200%;
}

.THIS .fullheight {
    height: 100%;
}

.THIS .pageTitle{
    font-size: 48pt;
    color: #01ACA8;
}

.THIS .pageSubTitle{
    font-size: 22pt;
    color: #191861;
}

.THIS .pageText{
    font-size: 14pt;
}

.THIS p.pageText a {
    color: rgb(228, 38, 55);
}

.THIS .whitheBack {
    background: white;
}

.THIS .endButton {
    background-color: rgb(228, 38, 55);
    font-size: 14pt;
    justify-content: center;
    color: white;
    height: 55px;
    width: 215px;
    border-radius: 0px;
}

@media screen and (max-width: 767px){
    .THIS .ohidden{
        width: 100%;
    }

    .THIS .parallax {
        /* The image used */
      /* background-image: url(https://adoptaclassroom--qa.my.salesforce.com/resource/school_donor_community?); */
    
      /* Full height */
      height: 100%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: -325px 50%;
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 100%;
    }

    .THIS .paddingsmalldev {
        padding-bottom: 18.5rem;
    }
    .THIS .slds-var-p-top_small {
        padding: 7px !important;
    }
}