.THIS .footer{
    display: flex;
    justify-content: space-between;
    padding: 18px 8px;
}

@media screen and (max-width: 767px){
    .THIS .footer{
        flex-direction: column-reverse;
        text-align: center;
    }
}