<apex:page showHeader="false" controller="ControlAccountBalanceController" standardStylesheets="false" sidebar="false" applyHtmlTag="false"
    applyBodyTag="false" docType="html-5.0" lightningStylesheets="true">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Control Account Balance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <apex:slds />
        <style>
            body {
                background-color: #F4F6F9;
            }

            body {
                padding: 0px;
                margin: 0 auto;
                font-size: .8125rem;
            }

            html,
            body {
                height: 100%;
                font-family: SFS, Arial, sans-serif;
                color: #16325c;
            }

            .title {
                color: #16325c;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 1.5rem;
                font-family: SFSLight, Arial, sans-serif;
                display: block;
            }

            .slds-scope table {
                max-width: 380px;
            }

            .form-container {
                padding: 20px;
                background: white;
                border: 1px solid #D8DDE6;
            }

            .form-container label {
                font-size: 12px;
                color: #54698d;
                margin: 0 0 8px 0;
                line-height: inherit;
            }

            .primary {
                padding: 12px 24px !important;
                border-radius: 4px !important;
                color: white !important;
                cursor: pointer !important;
                background-image: none !important;
                background-color: #0070d2 !important;
                border: 1px solid transparent !important;
            }

            .footer {
                position: relative;
                margin-top: 20px;
                height: 24px;
                width: 100%;
                clear: both;
                text-align: center;
                font-size: .75rem;
            }

            .small {
                font-size: .75rem;
                margin-top: 13px !important;
            }

            .standard_logo_wrapper {
                height: 113px;
                overflow: hidden;
                width: 180px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                display: table;
            }

            .header-title {
                padding-top: 13px !important;
            }

            .lookupInput,
            .lookupInput input {
                width: 100%;
            }
            .slds-col{
                padding: 20px;
            }
            .fieldsGroup {
                padding: 0 20px;
            }
            body .requiredInput .requiredBlock:after, .slds-vf-scope .requiredInput .requiredBlock:after {
                color: rgb(194, 57, 52);
                content: "";
                position: absolute;
                left: -.5rem;
                top: .125rem;
            }
        </style>
        <script>
            function submitButton() {
                var button = document.getElementsByClassName("btn");
            }
        </script>
    </head>

    <body>
        <div class="slds-scope">
            <apex:form id="theForm">
                <!--  -->
                <div class="slds-page-header">
                    <div class="slds-page-header__row">
                        <div class="slds-page-header__col-title">
                            <div class="slds-media">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-standard-opportunity">
                                        <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                            <use xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-media__body">
                                    <div class="slds-page-header__name">
                                        <div class="slds-page-header__name-title">
                                            <h1>
                                                <span>Generate Balances</span>
                                                <span class="slds-page-header__title slds-truncate" title="Generate Control Account Balances">Generate Control Account Balances</span>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-page-header__col-actions">
                            <div class="slds-page-header__controls">
                                <div class="slds-page-header__control">
                                    <ul class="slds-button-group-list">
                                        <li>
                                            <apex:commandButton id="submit" styleClass="slds-button slds-button_neutral" value="Submit" action="{!executeJob}" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldsGroup">
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="Accounting_Period">
                                    <abbr class="slds-required" title="required">* </abbr>Accounting Period</label>
                                <div class="slds-form-element__control">
                                    <apex:inputField value="{!record.Accounting_Period__c}" styleClass="" required="true" id="Accounting_Period" />
                                </div>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label" for="Type">
                                    <abbr class="slds-required" title="required">* </abbr>Type</label>
                                <div class="slds-form-element__control">
                                    <apex:inputField value="{!record.Type__c}" styleClass="slds-input" required="true" id="Type" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </apex:form>
        </div>
    </body>
    </html>
</apex:page>