<apex:page controller="VFC_VendorContacts" showHeader="false">
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockTable style="font-size:18px" value="{!vendorlst}" var="vendor">
                <apex:column style="font-size:18px" value="{!vendor.Vendor__c}"/>
                <apex:column style="font-size:18px" value="{!vendor.Phone__c}"/>
                <apex:column style="font-size:18px" value="{!vendor.Email__c}"/>
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>