.THIS {
  text-align: center;
}

.THIS > p {
  font-size: 14px;
  color: #CCCCCC;
  margin: 4px 0;
}

/*.THIS img {
  max-width: 200px;  
  max-height:none;
  background:#fff;
  border-radius: 0;
  border: 3px solid transparent;
}*/

.THIS img {
  max-width: 255px;
  width: 150%;
  height: auto;
  border-radius: 4px;
  border: 2px solid transparent;
}

@media (max-width: 500px) {
  .THIS img {
    width: 100%;
  }
}