.THIS {
    color:black;
    text-align: left;
    max-width: 700px;
}
.THIS .activity-header {
    display: flex;
    justify-content: space-between;
}
.THIS .activity-title {
    font-size: 26px;
    font-weight: bold;
    padding-top: 16px;
}
.THIS .profile-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 13px;
    margin-top: 5px;
}
.THIS .activity-data {
    width: 100%;
}
.THIS .activity {
    display: flex;
    align-content: space-between;
}
.THIS .chatter-icon {
    padding: 0 5px;
}
.THIS .chatter-data {
    display: inline;
    cursor: pointer;
    color: gray;
    position: relative;
    top: -5px;
}
.THIS .pointer {
    cursor: pointer;
}
.THIS .activity-date {
    color: gray;
    position: relative;
    top: -5px;
}
.THIS .activity-content {
    background-color: #ececec;
    padding: 10px;
    margin-top: 10px;
}
.THIS .more-left {
    text-align: left;
    width: 100%;
    margin-bottom: 6px;
}
.THIS .more-centred {
    text-align: center;
    width: 100%;
    margin-bottom: 6px;
}
.THIS .seeMore {
    border: 1px solid gray;
    padding: 5px 10px;
    color: black;
    margin: 5px;
}
.THIS .ownerBtn {
    margin-right: 10px !important;
    padding: 14px 42px !important;
}
.THIS .edit-post {
    top: -5px;
    position: relative;
    font-size: 17px;
    font-weight: bold;
}
.THIS .activity-ownerName{
    font-weight: bold;
    top: 5px;
    position: relative;
}
.THIS a.seeMore:hover {
    text-decoration: none !important;
}

.THIS a:focus, .THIS a:hover {
    text-decoration: none !important;
}
.THIS .breakeable {
    white-space: break-spaces;
}