.THIS .input_element .slds-input, .THIS .input_element .slds-select {
		border: 2px solid #e1e1e1;
		border-radius: 5px;
		background-color: #f1f1f1;
		color: #010101;
		font-size: medium;
		padding: 2% 0 2% 3%;
		margin: auto;
		height: 40px;
	}
.THIS .input_element .slds-input::placeholder {
	color: #b1b1b1;
}

.THIS h1.tittle {
	font-weight: 700;
	text-shadow: 0.2px 0 #010101;
}
.THIS .input_element .slds-select_container::before { border-bottom: none;}
.THIS .input_element .slds-select_container::after { border-top: none;}

.THIS .input_element .slds-select_container .slds-select { -webkit-appearance : menuList}
.THIS .input_element .slds-input::after, .THIS .input_element .slds-select::after { 
		border: 2px solid #e1e1e1;
		border-radius: 5px;
		background-color: #f1f1f1;
		color: #b1b1b1;
		font-size: x-small;
		padding: 2% 0 2% 3%;
		margin: auto;
		min-height: 100px;
		max-height: 350px;
		height:auto;
}

.THIS .input_element textarea {
	border: 2px solid #e1e1e1;
	border-radius: 5px;
	background-color: #f1f1f1;
	color: #b1b1b1;
	padding: 2% 0 2% 3%;
	margin: auto;
	min-height: 100px;
	max-height: 350px;
	height:auto;
	resize: none;
}
.THIS .input_element textarea::after {
	color: #010101;
}
.THIS .banner {
	border: 3px solid #E5E5E5 !important;
}
.THIS .banner lightning-icon {
	display:none;
}
.THIS .banner::after {
	content: 'Upload Banner Photo';
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 30px;
	background-color: #01ADAB;
	color: #FFF;
    padding: 13px 20px;
    font-size: x-large;
	border-radius: 3px;
}
.THIS .cUserPictureUpload{
	position: absolute;
		margin-top: -50px;
		margin-left: 50px;
}
.THIS .profile-picture ~ lightning-icon lightning-primitive-icon svg, .THIS .profile-picture ~ lightning-icon lightning-primitive-icon span{
	display:none;
}
.THIS .cUserPictureUpload lightning-icon::after {
	content: 'Upload Profile Photo';
	position: absolute;
	bottom: -22px;
	left: 50px;
	background-color: #01adab;
	color: #fff;
	padding: 16px 25px;
	white-space: nowrap;
    border-radius: 3px;
    font-size: x-large;
}
.THIS .leftContainer {
    transform: scale(0.8);
    margin-right: -30px;
}
.THIS .rigthContainer{
    transform: scale(0.8);
}

.THIS .rigthContainer h2{
    color:#010101;
    font-size:xx-large;
}

.THIS .photo-edit {
	background: transparent !important;
}

.THIS .form .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size: 180%;
    color: black;
}
.THIS  .input_element textarea {
    color:#010101 !important;
	font-size: 140%;
}
.THIS .saveBtn {
	text-align: right;
    width: 100%;
    padding: 0;
}

.THIS .saveBtn > button {
	font-size: 175%;
}

.THIS h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.THIS h2 {
    font-size: 2em;
    margin: 0.67em 0;
}

.THIS h4 {
    font-size: 180% !important;
}

.THIS p {
    font-size: 130%;
}

.THIS .slds-form-element__label {
	font-size: 150%;
}

.THIS li.slds-listbox__item {
	font-size: 120%;
}

.THIS .slds-has-error .slds-form-element__help{
	font-size: 110%;
}
.THIS .saveBtn2 {
	border: 3px;
    border-radius: 3px;
    padding: 5px 23px;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    min-width: 115px;
}
.THIS .slds-dueling-list__column {
    align-self: center;
}
.THIS .leftContainer {
	padding-top: 56px;
}
.THIS .lightningInputRichText span.slds-form-element__label.slds-assistive-text {
	overflow: initial !important;
	position: relative !important;
}
.THIS .aright {
	text-align: right;
}
.THIS .redFont {
	color:red;
}