.THIS {
    font-family: Lato, sans-serif;
}

.THIS .float-right {
    float: right;
}

.THIS .modal-title {
    font-size: larger;
}

.THIS .hand-over:hover{
    cursor: pointer;
}

.THIS .closeBtn {
    z-index: 9999999;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.THIS .donations {
    padding-right: 10px;
    font-size: 16px;
    line-height: normal;
    max-height: Calc(100vh - 410px);
    overflow:auto;
}

.THIS .donation {
    overflow: hidden;
    height: 70px;
    border-top: 1px solid #807b7b;
    padding: 15px 5px 15px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #807b7b;
    text-align: left;
}

.THIS .donation:first-child {
    border: none;
}

.THIS .amount {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}

.THIS .donation-date {
    color: black;
    margin-right: 5px;
    font-style: italic;
}

.THIS .donationName {
    color: black;
}

.THIS .slds-modal__header {
    display: none;
}