.THIS {
  text-align: center;
}
.THIS .slds-button {
  width: 90%;
  max-width: 330px;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}
.THIS .disableBtn {
  background-color: var(--lwc-brandDisabled,rgb(201, 199, 197));
  border-color: var(--lwc-brandDisabled,rgb(201, 199, 197));
  color: var(--lwc-colorTextButtonBrandDisabled,rgb(255, 255, 255));
  cursor: not-allowed;
}